#preChat, #prePlayers {
  height: 200px;
}

.resizable {
  resize: vertical;
}

.link {
  cursor: pointer;
}

.parameters-group {
  margin-bottom: 5px !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
